:root {
    --primary-color: #c4e499;
    --violet-color: #4c2882;
}

body {
    background-color: #e9ffc7;
}

main {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.text-subtitle {
    font-family: 'Playfair Display', serif;
    font-variant: small-caps;
    color: var(--violet-color);
}